.banner {
    align-items: center;
    background: url(../img/banner.png) center no-repeat;
    background-size: cover;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 4.875em .5em 2em 1em;
}

.banner__titulo {
    font-size: 22px;
    font-weight: 700;
}

.banner__texto {
    padding: .5em 0 2em 0;
}

.banner__btn {
    align-items: center;
    background: var(--azul);
    font-weight: 600;
    padding: 1em 2em;
}

@media screen and (min-width: 768px){
    .banner {
        padding: 10em 2em 2em 2em;
    }

    .banner__titulo {
        font-size: 52px;
    }

    .banner__texto {
        font-size: 22px;
        font-weight: 700;
    }
}
@media screen and (min-width: 1200px){
    .banner {
        height: 35vh;
        padding: 5em 5em 0 5em;
    }
    .banner__content {
        margin-top: 6em;
        max-width: 1200px;
        width: 900px;
    }
    .banner__texto {
        margin: 1em 0;
    }
}