.cabecalho {
    align-items: center;
    background: var(--branco);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.cabecalho__logo {
    width: 6.25em;
}

.cabecalho__btn {
    align-self: stretch;
    border: 1px solid var(--azul);
    color: var(--azul);
    font-size: 14px;
    font-weight: 600;
    gap: .5em;
    padding: 1em 4em;
}

.cabecalho__check {
    display: none;
}

.cabecalho__check:checked~.cabecalho__input {
    display: block;
}

.cabecalho__input {
    background: var(--cinza-claro);
    border: none;
    border-radius: 20px;
    display: none;
    position: absolute;
    font-size: 14px;
    padding: 1em;
    right: 1%;
    top: 100%;
}

.fa-solid {
    color: var(--preto);
}

@media screen and (min-width: 768px){
    .cabecalho__btn {
        order: 3;
    }
    .cabecalho__check, .cabecalho__label {
        display: none;
    }
    .cabecalho__input {
        color: var(--cinza);
        display: block;
        position: relative;
        padding: 1em;
        width: 240px;
        max-width: 300px;
    }
    .cabecalho__input::placeholder {
        background: url(../img/lupa-preto.svg) no-repeat;
        background-position: 15em;
        color: var(--cinza);
    }
}