@import url("header.css");
@import url("banner.css");
@import url("produtos.css");
@import url("footer.css");

:root{
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --branco: #FFFFFF;
    --cinza: #A2A2A2;
    --cinza-claro: #F5F5F5;
    --cor-de-fundo: #E5E5E5;
    --preto: #464646;
    --fonte-principal: "Raleway";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}